@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.update-button {
  background-color: #4caf50;
  color: white; 
  border: none; 
  padding: 12px 20px; 
  min-width: 120px; 
  min-height: 30px;
  font-size: 16px;
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.cancel-button {
  background-color: #f44336; 
  color: white; 
  border: none; 
  padding: 12px 20px; 
  min-width: 100px; 
  min-height: 30px;
  font-size: 16px;
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.edit-button {
  background-color: #4a90e2; 
  color: white; 
  border: none; 
  padding: 12px 20px; 
  min-width: 60px; 
  min-height: 30px;
  font-size: 16px;
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  margin-right: 30px; 
  
}

.delete-button {
  background-color: #f44336;
  color: white; 
  border: none; 
  padding: 12px 20px; 
  min-width: 60px; 
  min-height: 30px;
  font-size: 16px;
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}
.update-button:hover {
  background-color: #45a049; 
}

.cancel-button:hover {
  background-color: #c62828; 
}

.edit-button:hover {
  background-color: #2c5aa0; 
}

.delete-button:hover {
  background-color: #c62828; 
}


.button-container {
  display: flex;
  gap: 10px; 
}
